{% extends '../index_master.html' %}
{% load static %}
{% load humanize %}
<link href="{% static 'FrWork/admin_lte/build/css/custom.css' %}" rel="stylesheet">

{% block content %}
<div class="right_col" role="main">
    <div class="container mt-5">
        <h1 class="text-center mb-4" style="font-size: 1.5rem;">Ventas</h1>
        
        <!-- Sección de búsqueda y agregar venta -->
        <div class="mb-3">
            <div class="d-flex flex-column flex-md-row align-items-start justify-content-center">
                <div class="input-group mb-2 mb-md-0" style="max-width: 300px; margin-right: 7px;">
                    <input type="text" class="form-control" placeholder="Buscar ventas" aria-label="Buscar ventas" id="buscar-ventas">
                </div>
                <button class="btn btn-dark mb-2 mb-md-0 me-md-2 btn-sm" type="button" id="button-search">
                    <i class="fa fa-search"></i>
                </button>
                <a href="{% url 'agregarVenta' %}" class="btn btn-success btn-sm">
                    <i class="fa fa-plus"></i> Agregar Venta
                </a>
            </div>
        </div>

        <!-- Tabla de ventas (para dispositivos de escritorio) -->
        <div class="table-responsive d-none d-md-block">
            <table class="table table-striped table-bordered table-sm text-sm" style="font-size: 0.85rem; line-height: 1.2;">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Cliente</th>
                        <th>Método de Pago</th>
                        <th>Estado</th>
                        <th>Fecha Creación</th>
                        <th>Total Venta</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in ventas %}
                    <tr>
                        <td>{{ v.id }}</td>
                        <td>{{ v.cliente.nombre }} {{ v.cliente.apellido }}</td>
                        <td>{{ v.metodo_pago }}</td>
                        <td>{{ v.estado }}</td>
                        <td>{{ v.fecha_creacion|date:"d-m-Y H:i" }}</td>
                        <td>${{ v.total_venta_calculado|floatformat:2|intcomma }}</td>
                        <td class="d-flex justify-content-between">
                            <button class="btn btn-warning btn-sm" onclick="window.location.href='/modificarVenta/{{ v.id }}'">
                                <i class="fa fa-refresh"></i>
                            </button>
                            
                            <!-- Botón para eliminar la venta -->
                            <button class="btn btn-danger btn-sm" onclick="window.location.href='/eliminarVenta/{{ v.id }}'">
                                <i class="fa fa-trash"></i>
                            </button>
                        
                            <!-- Botón para ver los detalles de la venta -->
                            <button class="btn btn-info btn-sm" onclick="window.location.href='/detalleVenta/{{ v.id }}'">
                                <i class="fa fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <strong>Detalles de la Venta:</strong>
                            <ul>
                                {% for detalle in v.detalle_venta_set.all %}
                                <li>
                                    Producto: {{ detalle.producto.nombre }},
                                    Cantidad: {{ detalle.cantidad }},
                                    Precio Unitario: ${{ detalle.precio_unitario|floatformat:2|intcomma }},
                                    Subtotal: ${{ detalle.total_venta|floatformat:2|intcomma }}
                                </li>
                                {% empty %}
                                <li>No hay detalles disponibles.</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">No hay ventas disponibles.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Vista de tarjetas para dispositivos móviles -->
        <div class="d-md-none">
            {% for v in ventas %}
            <div class="card mb-3 text-sm" style="font-size: 0.85rem;">
                <div class="card-body">
                    <h5 class="card-title">Venta ID: {{ v.id }}</h5>
                    <p><strong>Cliente:</strong> {{ v.cliente.nombre }} {{ v.cliente.apellido }}</p>
                    <p><strong>Método de Pago:</strong> {{ v.metodo_pago }}</p>
                    <p><strong>Estado:</strong> {{ v.estado }}</p>
                    <p><strong>Fecha Creación:</strong> {{ v.fecha_creacion|date:"d-m-Y H:i" }}</p>
                    <p><strong>Impuesto:</strong> ${{ v.impuesto|floatformat:2|intcomma }}</p>
                    <p><strong>Total Venta:</strong> ${{ v.total_venta_calculado|floatformat:2|intcomma }}</p>
                    <p><strong>Detalles:</strong></p>
                    <ul>
                        {% for detalle in v.detalle_venta_set.all %}
                        <li>
                            Producto: {{ detalle.producto.nombre }},
                            Cantidad: {{ detalle.cantidad }},
                            Precio Unitario: ${{ detalle.precio_unitario|floatformat:2|intcomma }},
                            Subtotal: ${{ detalle.total_venta|floatformat:2|intcomma }}
                        </li>
                        {% empty %}
                        <li>No hay detalles disponibles.</li>
                        {% endfor %}
                    </ul>
                    <div class="d-flex justify-content-between">
                        <!-- Botón para modificar la venta -->
                        <button class="btn btn-warning btn-sm" onclick="window.location.href='/modificarVenta/{{ v.id }}'">
                            <i class="fa fa-refresh"></i>
                        </button>
                        
                        <!-- Botón para eliminar la venta -->
                        <button class="btn btn-danger btn-sm" onclick="window.location.href='/eliminarVenta/{{ v.id }}'">
                            <i class="fa fa-trash"></i>
                        </button>
                    
                        <!-- Botón para ver los detalles de la venta -->
                        <button class="btn btn-info btn-sm" onclick="window.location.href='/detalleVenta/{{ v.id }}'">
                            <i class="fa fa-eye"></i>
                        </button>
                    </div>
                    
                </div>
            </div>
            {% empty %}
            <div class="alert alert-warning text-center" role="alert">No hay ventas disponibles.</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
